<div id="layout-config" class="layout-config" [ngClass]="{'layout-config-active': appMain.configActive}" (click)="appMain.onConfigClick($event)">
    <a style="cursor: pointer" id="layout-config-button" class="layout-config-button" (click)="onConfigButtonClick($event)">
        <i class="pi pi-cog"></i>
    </a>
    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text layout-config-close" (click)="onConfigButtonClick($event)"></button>
    <div class="layout-config-content">

        <h4 class="mt-0" style="padding-top: 20px;">
            Configurações do Site
        </h4>

        <h6 class="mt-0">Escala</h6>
        <div class="config-scale">
            <button pButton pRipple type="button" icon="pi pi-minus" (click)="decrementScale()" class="p-button-rounded p-button-text" [disabled]="scale === scales[0]"></button>
                <i *ngFor="let item of scales" class="pi pi-circle-fill" [ngClass]="{'scale-active': item === scale}"></i>
            <button pButton pRipple type="button" icon="pi pi-plus" (click)="incrementScale()" class="p-button-rounded p-button-text" [disabled]="scale === scales[scales.length - 1]"></button>
        </div>

        <h6>Tipo de Entrada</h6>
        <div class="p-formgroup-inline">
            <div class="field-radiobutton">
                <p-radioButton name="inputStyle" value="outlined" [(ngModel)]="config.inputStyle" (onClick)="onInputStyleChange()"
                                inputId="inputStyle1"></p-radioButton>
                <label for="inputStyle1">Delineado</label>
            </div>
            <div class="field-radiobutton">
                <p-radioButton name="inputStyle" value="filled" [(ngModel)]="config.inputStyle" (onClick)="onInputStyleChange()"
                                inputId="inputStyle2"></p-radioButton>
                <label for="inputStyle2">Preenchido</label>
            </div>
        </div>

        <h6>Efeito Cascata</h6>
        <p-inputSwitch [ngModel]="config.ripple" (onChange)="onRippleChange($event.checked)"></p-inputSwitch>

        <h6>Tipo do Menu</h6>
        <div class="p-formgroup-inline">
            <div class="field-radiobutton">
                <p-radioButton name="menuType" value="static" [(ngModel)]="app.menuMode" (onClick)="appMain.isStatic()"
                                inputId="menuType1" ></p-radioButton>
                <label for="menuType1">Estático</label>
            </div>
            <div class="field-radiobutton">
                <p-radioButton name="menuType" value="overlay" [(ngModel)]="app.menuMode" (onClick)="appMain.isOverlay()"
                                inputId="menuType2"></p-radioButton>
                <label for="menuType2">Sobreposição</label>
        </div>

        <h6>Layout</h6>
        <div class="grid free-themes">
            <div class="col-3">
                <button class="p-link" (click)="changeTheme('cfm-light', false)">
                    <img src="assets/layout/images/themes/cfm-padrao.png" alt="CFM Light">
                </button>
            </div>
            <div class="col-3 text-center">
              <button class="p-link" (click)="changeTheme('cfm-dark', true)">
                  <img src="assets/layout/images/themes/cfm-padrao.png" alt="CFM Dark">
              </button>
          </div>
        </div>

        <div>
          <div class="col-12 text-center">
              <!--p-toast key="tst" [baseZIndex]="99999"></p-toast-->
              <p>
                  <p-button (click)="SalvarTemaSite()">Salvar Alterações</p-button>
              </p>
          </div>
      </div>
    </div>
</div>
