<div class="grid p-fluid">
  <div class="col-12 md:col-6">
    <div class="card">
      <h5>InputText</h5>
      <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <input pInputText type="text" placeholder="Default" />
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <input pInputText type="text" placeholder="Disabled" disabled />
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <input pInputText type="text" placeholder="Invalid" class="ng-invalid ng-dirty" />
        </div>
      </div>

      <h5>Icons</h5>
      <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-input-icon-left">
            <i class="pi pi-user"></i>
            <input pInputText type="text" placeholder="Username" />
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-input-icon-right">
            <input pInputText type="text" placeholder="Search" />
            <i class="pi pi-search"></i>
          </span>
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <span class="p-input-icon-left p-input-icon-right">
            <i class="pi pi-user"></i>
            <input pInputText type="text" placeholder="Search" />
            <i class="pi pi-search"></i>
          </span>
        </div>
      </div>



      <h5>Textarea</h5>
      <textarea pInputTextarea placeholder="Your Message" rows="3" cols="30"></textarea>
    </div>

    <div class="col-12">
      <div class="card">
        <h5>InputGroup</h5>
        <div class="grid p-fluid">
          <div class="col-12 md:col-6">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input type="text" pInputText placeholder="Username">
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-tags" style="line-height: 1.25;"></i></span>
              <span class="p-inputgroup-addon"><i class="pi pi-shopping-cart" style="line-height: 1.25;"></i></span>
              <input type="text" pInputText placeholder="Price">
              <span class="p-inputgroup-addon">$</span>
              <span class="p-inputgroup-addon">.00</span>
            </div>
          </div>




        </div>
      </div>
    </div>
  </div>
